[Desktop Entry]
Name=Klimbgradesa
omment=Small application to quickly convert difficulty grades for rock climbing, lead and bouldering scales
Exec=klimbgrades %u
MimeType=application/x-klimbgrades;
Icon=klimbgrades
Type=Application
Terminal=false
Categories=Qt;KDE;Education;
