[Desktop Entry]
Name=Klimbgrades
Name[ca]=Klimbgrades
Name[ca@valencia]=Klimbgrades
Name[cs]=Klimbgrades
Name[de]=Klimbgrades
Name[es]=Klimbgrades
Name[fr]=Klimbgrades
Name[gl]=Klimbgrades
Name[ko]=Klimbgrades
Name[nl]=Klimbgrades
Name[pl]=Klimbgrades
Name[pt]=Klimbgrades
Name[sk]=Klimbgrades
Name[sv]=Klimbgrades
Name[uk]=Klimbgrades
Name[x-test]=xxKlimbgradesxx
Name[zh_TW]=Klimbgrades
Comment=Small application to quickly convert difficulty grades for rock climbing, lead and bouldering scales
Comment[ca]=Petita aplicació per a convertir ràpidament els graus de dificultat a escales per escalar en roca, a plom i en bloc
Comment[ca@valencia]=Petita aplicació per a convertir ràpidament els graus de dificultat a escales per escalar en roca, a plom i en bloc
Comment[de]=Anwendung zum Umwandeln von Schwierigkeitsskalen für Felsklettern, Vorstieg und Bouldern
Comment[fr]=Petite application permettant de convertir rapidement les cotations des murs, des voies d'escalade libre et des blocs
Comment[gl]=Pequena aplicación para converter rapidamente graos de dificultade de escalada de rochas, chumbo e escalas de rochas
Comment[ko]=암벽 등반, 리드, 볼더링 등급을 변환하는 간편한 도구
Comment[nl]=Een kleine toepassing om snel moeilijke schalen voor graden van gezekerde en niet-gezekerde rotsbeklimming te converteren
Comment[pl]=Mała aplikacja do przekształcania trudnych stopni we wspinaczce górskiej, skale lead i boulder
Comment[pt]=Pequena aplicação para converter rapidamente os graus de dificuldade para escaladas, pesos e escalas
Comment[sv]=Litet program för att snabbt konvertera svåra lutningar vid bergsbestigning och klippbestigning
Comment[uk]=Невеличка програма для швидкого перетворення оцінок складності для скелелазання, оцінок лідерства та техніки скелелазання
Comment[x-test]=xxSmall application to quickly convert difficulty grades for rock climbing, lead and bouldering scalesxx
Exec=klimbgrades %u
MimeType=application/x-klimbgrades;
Icon=klimbgrades
Type=Application
Terminal=false
Categories=Qt;KDE;Education;
